* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
}

#options .but {
    display: block;

}

.but {
    margin-bottom: 3px;
    background-color: #8f5c8f;
    color: white;
}

.but:hover{
    cursor: pointer;
    background: violet;
}

#title{
    padding-top: 3%;
}

#info{
    padding-top: 2%;
}

.cntrl{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

#startQz{
    margin-top: 0%;
    background-color: #8f5c8f;
    color: white;
}

#startQz:hover{
    cursor: pointer;
    background: violet;
}

#home{
    display: block;
    margin: auto;
    text-align: center;
    width: 540px;
}

.hide {
    display: none;
}

.timer {
    text-align: right;
    float: right;
    display: inline;
}
