* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
}

#options .but {
    display: block;

}

.but {
    margin-bottom: 3px;
    background-color: #8f5c8f;
    color: white;
}

.but:hover{
    cursor: pointer;
    background: violet;
}

.cntrl{
    display: flex;
    justify-content: center;
}

#startQz{
    margin-top: 0%;
    background-color: #8f5c8f;
    color: white;
}

#startQz:hover{
    cursor: pointer;
    background: violet;
}

.hide {
    display: none;
}

/*
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 540px;
    font-size: 20px;
    margin: auto;
    margin-top: 5%;
}

#options .option1{
    display: block;
    text-align: left;
    width: auto;
    margin-bottom: 3px;
    background-color: #8c56a3;
    color: white;
}

.option1:hover{
    cursor: pointer;
    background: violet;
}

.choiceBox .option2{
    display: block;
    text-align: left;
    width: auto;
    margin-bottom: 3px;
    background-color: #8c56a3;
    color: white;
}

.option2:hover{
    cursor: pointer;
    background: violet;
}

.choiceBox .option3{
    display: block;
    text-align: left;
    width: auto;
    margin-bottom: 3px;
    background-color: #8c56a3;
    color: white;
}

.option3:hover{
    cursor: pointer;
    background: violet;
}

.choiceBox .option4{
    display: block;
    text-align: left;
    width: auto;
    margin-bottom: 3px;
    background-color: #8c56a3;
    color: white;
}

.option4:hover{
    cursor: pointer;
    background: violet;
}

.top .timer .alink{
    display: inline;
}

#questions{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    width: 540px;
    font-size: 20px;
    margin: auto;
    margin-top: 15%;
}
*/

.timer {
    text-align: right;
    float: right;
    display: inline;
}
